header{
    background-color: #cccccc;
    display:block;
    border:1px #3333ff dashed;
    border-radius: 10px;
    margin: 10%;
    font-size: 1.5em;
    
}
#menu{
    position: fixed;
    top:26%;
    background-color: #cccccc;
    display:block;
    border:1px #3333ff dashed;
    border-radius: 10px;
    margin-left: 10%;
    width: 78.8%;
    font-size: 1.5em;
}
#lateral{
    top:32%;
    position:fixed;
    background-color: #cccccc;
    border:1px #3333ff dashed;
    border-radius: 10px;
    margin-left: 10%;
    width: 8%;
    height: 53%;
}
#primero{
    top:32%;
    position:fixed;
    background-color: #999999;
    border:1px #3333ff dashed;
    border-radius: 10px;
    width: 50%;
    height: 25%;
    margin-left: 20%;
}
#segundo{
    top:60%;
    position:fixed;
    background-color: #999999;
    border:1px #3333ff dashed;
    border-radius: 10px;
    width: 50%;
    height: 25%;
    margin-left: 20%;
}
#first{
    background-color: #cccccc;
    margin-left: 10px;
    width: 23%;
    height: 20%;
    position:fixed;
    border:1px #000000 solid;
    border-radius: 10px;
}
#second{
    background-color: #cccccc;
    margin-left: 26%;
    width: 23%;
    height: 20%;
    position:fixed;
    border:1px #000000 solid;
    border-radius: 10px;
}
#sec_first{
    background-color: #cccccc;
    margin-left: 10px;
    width: 23%;
    height: 20%;
    position:fixed;
    border:1px #000000 solid;
    border-radius: 10px;
}
#sec_second{
    background-color: #cccccc;
    margin-left: 26%;
    width: 23%;
    height: 20%;
    position:fixed;
    border:1px #000000 solid;
    border-radius: 10px;
}
#lat_right{
    top:32%;
    position:fixed;
    background-color: #cccccc;
    border:1px #3333ff dashed;
    border-radius: 10px;
    margin-left: 72%;
    width: 17%;
    height: 53%;
}
#footer{
    top:67%;
    position:fixed;
    background-color: #cccccc;
    display:block;
    border:1px #3333ff dashed;
    border-radius: 10px;
    margin: 10%;
    font-size: 1.5em;
    width: 78.9%;
}